*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
*:Zone.Identifier
*.Identifier

# Docker Data & Private Storage (Agar tidak ter-commit)
/.docker/postgres_data/
/.docker/redis-data/
/.docker/redis-data*/
/storage/app/private/*.csv
/storage/app/private/imports/
